.gif-box-container {
  margin: 0.5rem;
  position: relative;

  .message-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $infra-red;
    font-size: 1rem;
    position: absolute;
    margin: 0 auto;
    // animation: fadeOut 1s ease-out;
    // animation-delay: 1s;
  }

  .gif-hover-box {
    position: absolute;
    width: 100%;
    height: 36%;
    background: linear-gradient(black ,rgba(255, 0, 0, 0));
    padding: 1rem;
    box-sizing: border-box;

    .hover-box-buttons {
      display: flex;
      justify-content: flex-end;

      i {
        font-size: 1rem;
        color: white;

        &:first-child {
          margin-right: 1rem;
        }

        &:hover {
          cursor: pointer;
        }

        &.isFav {
          color: $infra-red;
        }
      }

    }
  }

  .gif-placeholder {
    display: inline-block;

    .gif {
      opacity: 0;
      transition: opacity 1s ease;

      &.loaded {
        opacity: 1;
      }
    }
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}