.header-container {
  top: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $off-black;
  padding: 1rem;
  z-index: 9;

  .header-title {
    color: white;
    text-decoration: none;
  }
}