.search-container {
  width: 40%;
  height: 4rem;
  background-color: #8B5FBF;
  transform: skew(-12deg);
  display: flex;
  align-items: center;

  .input-container {
    width:  75%;
    height: 100%;
    padding: 0 1rem;
    .search-input {
      padding: 0;
      width: 100%;
      height: 100%;
      background-color: $purple;
      border: none;
      transform: skew(12deg);
      height: 100%;
      color: white;
      font-size: 1.5rem;
      font-family: 'Press Start 2P', cursive;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: white;
        opacity: 1;
      }
    }
  }


  .search-button-container {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $infra-red;
    color: white;

    &:hover {
      cursor: pointer;
      // color: $orange-yellow;
      color: $infra-red;
      background-color: $orange-yellow;
    }
    .search-button {
      transform: skew(12deg);
    }
  }

}